:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 24px;
  font-weight: 400;
  --font: Inter, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --black: #127254;
  --white: #fff;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */

  min-height: 100vh;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

::selection {
  color: var(--white);
  background: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins, sans-serif;
}

/* Pagination */
.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  border-radius: 4px !important;
  border: 1px solid #ecf0f3 !important;
  /* Main colors/White */

  background: #ffffff;
  font-family: Inter, sans-serif !important;
  color: #99a0ae !important;
  font-size: 14px !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  border: 1px solid #e4caa0 !important;
  background: #ffffff !important;
  color: #151e28 !important;
}

/* @media (max-width: 480px) {
    .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
        min-height: 24px !important;
        height: 24px !important;
        width: 24px !important;
        min-width: 24px !important;
        padding: 0 0 !important;
        font-size: 1.2em !important;
    }
} */

/* charts */
.apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center,
.apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
  display: none !important;
}

.apexcharts-toolbar {
  display: none !important;
}

/* .apexcharts-active {
    top: -40px !important;
} */

.apexcharts-tooltip.apexcharts-theme-light.apexcharts-active {
  top: -24px !important;
}

.MuiTabs-flexContainer::-webkit-scrollbar {
  height: 0;
}

@media (max-width: 800px) {
  .tab-content {
    padding: 24px calc(0.035 * 100vw) !important;
  }

  .MuiTabs-flexContainer {
    padding: 12px calc(0.035 * 100vw) 0 calc(0.035 * 100vw) !important;
  }
}
